
a.pg-link {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

a.pg-link:hover{
    background-color: aliceblue;
    opacity: 30%;
    transition: 0.5s;
}
a.chief{
    top: 60px;
    left: 445px;
}

a.cash {
    top: 100px;
    left: 550px;
}

a.trykk-emma {
    top: 310px;
    left: 740px;
}

a.trykk-simon {
    top: 550px;
    left: 410px;
}

a.webb {
    left: -145px;
    top: 500px;
}

a.mos {
    top: 340px;
    left: -65px;
}

a.prolk {
    top: 430px;
    left: -45px;
}

a.spons {
    top: 450px;
    left: 165px;
}

a.öl-bar {
    top: 170px;
    left: -620px;
}

a.prevent {
    top: 120px;
    left: -10px;
}

a.biljett {
    top: 135px;
    left: 50px;
}

a.werk {
    top: 350px;
    left: -75px;
}

a.j4 {
    top: 150px;
    left: 500px;
}